.profile-img {
  $size: 3.75rem;
  height: $size;
  width: $size;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid rgba(255, 255, 255, 0.25);

  &--sidebar-header {
    $size: 8.5rem;
    height: $size;
    width: $size;
    padding: 0.5rem;
    border: 3px dashed var(--color-primary-header);
  }
}
