::-webkit-scrollbar {
  width: 0.8rem;
}

::-webkit-scrollbar-track {
  background-color: var(--accent-color);
}

::-webkit-scrollbar-thumb {
  background-color: var(--accent-lighter-color);
  border-radius: 10rem;
}
