<mat-stepper orientation="vertical">
  <mat-step *ngFor="let formField$ of viewsFormFields; let i = index">
    <ng-container *ngIf="formField$ | async as formFields">
      <ng-template matStepLabel>{{ views[i].title }}</ng-template>
      <o2c-form-builder [formFields]="formFields"></o2c-form-builder>
    </ng-container>

    <div>
      <button mat-flat-button matStepperPrevious *ngIf="i !== 0">
        Anterior
      </button>
      <button
        mat-flat-button
        matStepperNext
        *ngIf="i < viewsFormFields.length - 1"
      >
        Siguiente
      </button>
      <button
        (click)="saveForm()"
        mat-stroked-button
        color="primary"
        *ngIf="viewsFormFields.length - 1 === i"
      >
        Guardar Formulario
      </button>
    </div>
  </mat-step>
</mat-stepper>
