.login-box {
  background: #ffffff;
  border: 2px solid #dadada;
  padding: 15px;
}

.card {
  margin-bottom: 24px;
  box-shadow: 0 0.75rem 1.5rem rgba(18, 38, 63, 0.03);
}

.bg-login {
  background-image: url('~src/assets/images/brand/logo.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  padding: 60px 0;
  position: relative;
  border-radius: 0 0 50% 50%;
  text-align: center;
}

.bg-login:before {
  content: '';
  position: absolute;
  background: -webkit-gradient(linear, left top, right top, from(#273c92), to(#293e92));
  background: linear-gradient(to right, var(--accent-color), var(--accent-darker-color));
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  border-radius: 0 0 50% 50%;
  opacity: 0.8;
}

h5 {
  font-size: 1.25rem;
}

.logo-admin {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 74px;
  height: 74px;
  line-height: 74px;
  background: #fff;
  border-radius: 50%;
  text-align: center;
  -webkit-box-shadow: 0 0.75rem 1.5rem rgb(18 38 63 / 3%);
  box-shadow: 0 0.75rem 1.5rem rgb(18 38 63 / 3%);
}

.logo-admin-icon {
  font-size: 75px;
  color: #505050;
}

.lock-icon {
  vertical-align: -3px;
  font-size: 1rem;
}

.error-message {
  color: #ba3939;
  background: #ffe0e0;
  border: 1px solid #a33a3a;
  display: flex;
  justify-content: center;
  align-items: center;
}
