<div class="col-md-6 col-lg-4 col-xl-3">
  <div class="card overflow-hidden mat-elevation-z5">
    <div class="bg-login">
      <div class="position-relative">
        <h5 class="text-white">Bienvenido</h5>
        <p class="text-white-50">Inicia sesión para continuar a ERP</p>
        <div class="logo-admin mt-4">
          <span class="material-icons logo-admin-icon">person_outline</span>
        </div>
      </div>
    </div>
    <div class="card-body pt-5">
      <!--            <div class="error-message m-3" *ngIf="errorMessage$ | async as message">-->
      <!--                <span>{{ message }}</span>-->
      <!--            </div>-->
      <div class="p-2">
        <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
          <mat-form-field appearance="outline" class="w-100 mb-2">
            <mat-label>Email</mat-label>
            <input
              appAutofocus
              matInput
              placeholder="example@email.com"
              type="text"
              formControlName="username"
              autocomplete="off"
            />
            <mat-error appErrorMessage></mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Contraseña</mat-label>
            <input
              [type]="hidePassword ? 'password' : 'text'"
              matInput
              formControlName="password"
            />
            <mat-icon (click)="hidePassword = !hidePassword" matSuffix>
              {{ hidePassword ? 'visibility_off' : 'visibility' }}
            </mat-icon>
            <mat-error appErrorMessage></mat-error>
          </mat-form-field>

          <div class="mt-3">
            <button
              mat-flat-button
              class="w-100"
              color="primary"
              type="submit"
            >
              Iniciar sesión
            </button>
          </div>

          <div class="mt-4 text-center">
            <a href="#" class="text-muted">
              <span class="material-icons lock-icon">lock</span>
              ¿Olvidaste tu contraseña?
            </a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


<!--<div class="formContentParent">-->
<!--    <div class="wrapper fadeInDown">-->
<!--        <div class="formContent">-->
<!--            &lt;!&ndash; Icon &ndash;&gt;-->
<!--            <div class="fadeIn first">-->
<!--                <img class="m-3 img-thumbnail" src="./assets/img/morena-logo.png" id="icon" alt="User Icon"/>-->
<!--            </div>-->

<!--            &lt;!&ndash; Login Form &ndash;&gt;-->
<!--            <form [formGroup]="form" (submit)="submit()" class="login100-form validate-form">-->
<!--                <div class="container">-->
<!--                    <span class="build-version">{{BUILD_VERSION}}</span>-->
<!--                </div>-->
<!--                <hr>-->
<!--                <input type="text" class="fadeIn second inputLogin" formControlName="username" placeholder="Usuario">-->
<!--                <br>-->
<!--                <input type="password" class="fadeIn third inputLogin" formControlName="password"-->
<!--                       placeholder="Contraseña">-->
<!--                <br>-->
<!--                &lt;!&ndash;                <a style="width: 86%" class="btn btn-outline-primary m-3" [routerLink]="['/dashboard']"> Entrar </a>&ndash;&gt;-->
<!--                <button class="btn btn-outline-primary m-3" type="submit" style="width: 86%" [disabled]="!form.valid">-->
<!--                    Entrar-->
<!--                </button>-->
<!--            </form>-->
<!--            <div id="formFooter">-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
