<mat-toolbar>
  <!--  <button-->
  <!--    *ngIf="selectedItem"-->
  <!--    [matTooltipPosition]="'below'"-->
  <!--    aria-label="Editar cliente"-->
  <!--    mat-icon-button-->
  <!--    matTooltip="Editar cliente"-->
  <!--    (click)="goToEditForm()"-->
  <!--  >-->
  <!--    <mat-icon>edit</mat-icon>-->
  <!--  </button>-->
  <!--  <button-->
  <!--    *ngIf="selectedItem"-->
  <!--    [matTooltipPosition]="'below'"-->
  <!--    aria-label="Eliminar cliente"-->
  <!--    mat-icon-button-->
  <!--    matTooltip="Eliminar cliente"-->
  <!--    (click)="delete()"-->
  <!--  >-->
  <!--    <mat-icon>person_remove</mat-icon>-->
  <!--  </button>-->

  <!--  <button-->
  <!--    [matTooltipPosition]="'below'"-->
  <!--    aria-label="Agregar Cliente"-->
  <!--    mat-icon-button-->
  <!--    matTooltip="Agregar Cliente"-->
  <!--    (click)="goToAddForm()"-->
  <!--  >-->
  <!--    <mat-icon>person_add</mat-icon>-->
  <!--  </button>-->
</mat-toolbar>
