<div class="slider-container" *ngIf="!hiddenSelector">
  <mat-button-toggle-group [(ngModel)]="isSelected">
    <mat-button-toggle [value]="true" matTooltip="Vista de Cartas">
      <mat-icon>drag_indicator</mat-icon>
    </mat-button-toggle>
    <mat-button-toggle [value]="false" matTooltip="Vista de Tabla">
      <mat-icon>table_rows</mat-icon>
    </mat-button-toggle>
  </mat-button-toggle-group>
</div>
<app-table-view [hidden]="isSelected" (selectedItem)="setSelectedItem($event)"></app-table-view>
<app-card-view [actions]="actions" [hidden]="!isSelected"></app-card-view>
