<mat-card>
  <div class="row">
    <div class="col-md-12">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Selecciona una encuesta</mat-label>
        <mat-select [formControl]="surveyControl">
          <mat-option
            *ngFor="let survey of surveys$ | async"
            [value]="survey.id"
          >
            {{ survey.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>

  <div class="row mb-5" *ngFor="let stat of (statistics$ | async)?.statistics" style="height: 350px">
    <div class="col-md-12" style="height: 300px">
      <h3 class="bold">{{ stat.name }}</h3>
      <ngx-charts-pie-grid
        class="d-flex"
        [results]="stat.series"
      >
      </ngx-charts-pie-grid>
    </div>
  </div>

  <div class="row" *ngIf="(statistics$ | async)?.openQuestions">
    <div class="col-md-12">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Selecciona una pregunta abierta para conocer las respuestas</mat-label>
        <mat-select [formControl]="openQuestionsControl">
          <mat-option
            *ngFor="let openQuestion of openQuestions$ | async"
            [value]="openQuestion.id"
          >
            {{ openQuestion.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div class="row" *ngIf="(answersToOpenQuestion$ | async)?.answers as answers">
    <div class="col-md-12">
      <mat-list role="list">
        <mat-list-item role="listitem" *ngFor="let answer of answers">
          {{answer.answer}}
        </mat-list-item>
      </mat-list>
    </div>
  </div>
</mat-card>
