<div class="card-container" *ngIf="data$ | async as data">
  <div class="card-view" *ngFor="let item of data.data; let i = index">
    <ng-container *ngFor="let label of labels; let i = index">
      <span class="card-view__field">{{ label }}</span>
      <ng-container *ngIf="displayedColumns[i] | mapTo: doesntHaveHtml; else renderHtml">
        <span class="card-view__value">{{ item | mapTo: mapToGetKey:i }}</span>
      </ng-container>

      <ng-template #renderHtml>
        <div [innerHTML]="item | mapTo: mapToInnerHtml:i"></div>
      </ng-template>
    </ng-container>

    <div class="card-view__buttons">
      <ng-container *ngFor="let action of actions">
        <mat-icon
          class="card-view__button"
          matTooltipPosition="before"
          [matTooltip]="action?.tooltip | mapTo: mapToTooltip"
          (click)="action.callback(item)"
          *ngIf="action.isVisible | mapTo: mapToVisible:item"
        >
          {{ action.icon }}</mat-icon
        >
      </ng-container>
    </div>
  </div>
</div>
<mat-paginator
  [length]="(data$ | async)?.total"
  [pageSize]="pageSize"
  [pageSizeOptions]="pageSizeOptions"
  (page)="onPaginateChange($event)"
></mat-paginator>
