<mat-card>
  <mat-toolbar color="primary">
    <div>
      <h2>Afiliar militante</h2>
      <!--      <button (click)="backToListRoles()" aria-label="Regresar" mat-icon-button>-->
      <!--        <mat-icon>arrow_back</mat-icon>-->
      <!--      </button>-->
    </div>
  </mat-toolbar>
  <form
    (ngSubmit)="onSubmit()"
    [formGroup]="militantForm"
    class="row justify-content-center"
    autocomplete="off"
  >
    <h3 class="mb-0 mt-5">Roles de sistema</h3>
    <hr />
    <div class="row mt-3 mb-5">
      <div class="col-6 d-flex flex-column">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Rol</mat-label>
          <mat-select formControlName="type">
            <mat-option
              *ngFor="let option of role_select; index as i"
              [value]="option.value"
              >{{ option.label }}</mat-option
            >
          </mat-select>
          <mat-error appErrorMessage></mat-error>
        </mat-form-field>
      </div>

      <div class="col-6 d-flex flex-column">
        <mat-form-field
          appearance="outline"
          class="w-100"
          *ngIf="showAssignPattern"
        >
          <mat-label>Asignar superior</mat-label>
          <mat-select formControlName="assign_pattern">
            <mat-option
              *ngFor="let option of pattern_select"
              [value]="option['value']"
            >
              {{ option['label'] }}
            </mat-option>
          </mat-select>
          <mat-error appErrorMessage></mat-error>
        </mat-form-field>
      </div>
    </div>

    <h3 class="mb-0">Datos personales</h3>
    <hr />
    <div class="row mt-3 mb-5">
      <div class="col-4 d-flex flex-column">
        <mat-form-field appearance="outline">
          <mat-label>Nombre</mat-label>
          <input formControlName="name" matInput type="text" />
          <mat-error appErrorMessage></mat-error>
        </mat-form-field>
      </div>

      <div class="col-4 d-flex flex-column">
        <mat-form-field appearance="outline">
          <mat-label>Apellido Paterno</mat-label>
          <input formControlName="father_last_name" matInput type="text" />
          <mat-error appErrorMessage></mat-error>
        </mat-form-field>
      </div>

      <div class="col-4 d-flex flex-column">
        <mat-form-field appearance="outline">
          <mat-label>Apellido Materno</mat-label>
          <input formControlName="mother_last_name" matInput type="text" />
          <mat-error appErrorMessage></mat-error>
        </mat-form-field>
      </div>
    </div>

    <h3 class="mb-0">Datos electorales</h3>
    <hr />
    <div class="row mt-3 mb-5">
      <div class="col-6 d-flex flex-column">
        <mat-form-field appearance="outline">
          <mat-label>CURP</mat-label>
          <input formControlName="curp" matInput type="text" />
          <mat-error appErrorMessage></mat-error>
        </mat-form-field>
      </div>

      <div class="col-6 d-flex flex-column">
        <mat-form-field appearance="outline">
          <mat-label>Confirmar CURP</mat-label>
          <input formControlName="curp_confirm" matInput type="text" />
          <mat-error appErrorMessage></mat-error>
        </mat-form-field>
      </div>

      <div class="col-6 d-flex flex-column">
        <mat-form-field appearance="outline">
          <mat-label>OCR</mat-label>
          <input formControlName="ocr" matInput type="text" />
          <mat-error appErrorMessage></mat-error>
        </mat-form-field>
      </div>

      <div class="col-6 d-flex flex-column">
        <mat-form-field appearance="outline">
          <mat-label>OCR</mat-label>
          <input formControlName="ocr_confirm" matInput type="text" />
          <mat-error appErrorMessage></mat-error>
        </mat-form-field>
      </div>

      <div class="col-6 d-flex flex-column">
        <mat-form-field appearance="outline">
          <mat-label>Clave de elector</mat-label>
          <input formControlName="elector_key" matInput type="text" />
          <mat-error appErrorMessage></mat-error>
        </mat-form-field>
      </div>

      <div class="col-6 d-flex flex-column">
        <mat-form-field appearance="outline">
          <mat-label>Clave de elector</mat-label>
          <input formControlName="elector_key_confirm" matInput type="text" />
          <mat-error appErrorMessage></mat-error>
        </mat-form-field>
      </div>
    </div>

    <h3 class="mb-0">Datos de contacto</h3>
    <hr />
    <div class="row mt-3 mb-5">
      <div class="col-4 d-flex flex-column">
        <mat-form-field appearance="outline">
          <mat-label>email</mat-label>
          <input formControlName="email" matInput type="email" />
          <mat-error appErrorMessage></mat-error>
        </mat-form-field>
      </div>

      <div class="col-4 d-flex flex-column">
        <mat-form-field appearance="outline">
          <mat-label>Número celular</mat-label>
          <input formControlName="cell_phone" matInput type="text" />
          <mat-error appErrorMessage></mat-error>
        </mat-form-field>
      </div>

      <div class="col-4 d-flex flex-column">
        <mat-form-field appearance="outline">
          <mat-label>Número de casa</mat-label>
          <input formControlName="home_phone" matInput type="text" />
          <mat-error appErrorMessage></mat-error>
        </mat-form-field>
      </div>
    </div>

    <h3 class="mb-0">Datos de ubicación</h3>
    <hr />
    <div class="row mt-3 mb-5">
      <div class="col-4 d-flex flex-column">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Distrito</mat-label>
          <mat-select formControlName="district">
            <mat-option
              *ngFor="let district of districts$ | async"
              [value]="district.id"
            >
              {{ district.key }}
            </mat-option>
          </mat-select>
          <mat-error appErrorMessage></mat-error>
        </mat-form-field>
      </div>

      <div class="col-4 d-flex flex-column">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Municipio</mat-label>
          <mat-select formControlName="municipality">
            <mat-option [value]="null" *ngIf="municipalities.length === 0"
              >Seleccione un distrito
            </mat-option>
            <mat-option
              *ngFor="let municipality of municipalities"
              [value]="municipality['id']"
            >
              {{ municipality['name'] }}
            </mat-option>
          </mat-select>
          <mat-error appErrorMessage></mat-error>
        </mat-form-field>
      </div>

      <div class="col-4 d-flex flex-column">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Sección</mat-label>
          <mat-select formControlName="section_id">
            <mat-option [value]="null" *ngIf="sections.length === 0"
              >Seleccione un municipio
            </mat-option>
            <mat-option
              *ngFor="let section of sections"
              [value]="section['id']"
            >
              {{ section['section'] }}
            </mat-option>
          </mat-select>
          <mat-error appErrorMessage></mat-error>
        </mat-form-field>
      </div>
    </div>
    <app-maps></app-maps>
  </form>
</mat-card>
