<mat-card>
  <mat-toolbar color="primary">
    <div>
      <h2>Afiliar militante</h2>
      <!--      <button (click)="backToListRoles()" aria-label="Regresar" mat-icon-button>-->
      <!--        <mat-icon>arrow_back</mat-icon>-->
      <!--      </button>-->
    </div>
  </mat-toolbar>
  <form
    (ngSubmit)="onSubmit()"
    [formGroup]="militantForm"
    class="row justify-content-center"
  >
    <h3 class="mb-0 mt-5">Datos personales</h3>
    <hr />
    <div class="row mt-3 mb-5">
      <div class="col-4 d-flex flex-column">
        <mat-form-field appearance="outline">
          <mat-label>Nombre</mat-label>
          <input formControlName="name" matInput type="text" />
          <mat-error appErrorMessage></mat-error>
        </mat-form-field>
      </div>

      <div class="col-4 d-flex flex-column">
        <mat-form-field appearance="outline">
          <mat-label>Apellido Paterno</mat-label>
          <input formControlName="last_name_p" matInput type="text" />
          <mat-error appErrorMessage></mat-error>
        </mat-form-field>
      </div>

      <div class="col-4 d-flex flex-column">
        <mat-form-field appearance="outline">
          <mat-label>Apellido Materno</mat-label>
          <input formControlName="last_name_m" matInput type="text" />
          <mat-error appErrorMessage></mat-error>
        </mat-form-field>
      </div>

      <div class="col-12 d-flex flex-column">
        <mat-form-field appearance="outline">
          <mat-label>CURP</mat-label>
          <input formControlName="curp" matInput type="text" />
          <mat-error appErrorMessage></mat-error>
        </mat-form-field>
      </div>
    </div>

    <h3 class="mb-0">Datos electorales</h3>
    <hr />
    <div class="row mt-3 mb-5">
      <div class="col-6 d-flex flex-column">
        <mat-form-field appearance="outline">
          <mat-label>OCR</mat-label>
          <input formControlName="ocr" matInput type="text" />
          <mat-error appErrorMessage></mat-error>
        </mat-form-field>
      </div>

      <div class="col-6 d-flex flex-column">
        <mat-form-field appearance="outline">
          <mat-label>Clave de elector</mat-label>
          <input formControlName="elector_key" matInput type="text" />
          <mat-error appErrorMessage></mat-error>
        </mat-form-field>
      </div>
    </div>

    <h3 class="mb-0">Datos de contacto</h3>
    <hr />
    <div class="row mt-3 mb-5">
      <div class="col-4 d-flex flex-column">
        <mat-form-field appearance="outline">
          <mat-label>email</mat-label>
          <input formControlName="email" matInput type="email" />
          <mat-error appErrorMessage></mat-error>
        </mat-form-field>
      </div>

      <div class="col-4 d-flex flex-column">
        <mat-form-field appearance="outline">
          <mat-label>Número celular</mat-label>
          <input formControlName="cell_phone" matInput type="text" />
          <mat-error appErrorMessage></mat-error>
        </mat-form-field>
      </div>

      <div class="col-4 d-flex flex-column">
        <mat-form-field appearance="outline">
          <mat-label>Número de casa</mat-label>
          <input formControlName="house_phone" matInput type="text" />
          <mat-error appErrorMessage></mat-error>
        </mat-form-field>
      </div>
    </div>

    <h3 class="mb-0">Roles de sistema</h3>
    <hr />
    <div class="row mt-3 mb-5">
      <div class="col-6 d-flex flex-column">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Rol</mat-label>
          <mat-select formControlName="role">
            <mat-option>Ninguna</mat-option>
            <mat-option
              *ngFor="let option of role_select; index as i"
              [value]="option.value"
              >{{ option.label }}</mat-option
            >
          </mat-select>
          <mat-error appErrorMessage></mat-error>
        </mat-form-field>
      </div>

      <div class="col-6 d-flex flex-column">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Asignar superior</mat-label>
          <mat-select formControlName="assign_pattern">
            <mat-option>Ninguna</mat-option>
            <mat-option
              *ngFor="let option of role_select; index as i"
              [value]="option.value"
            >
              {{ option.label }}
            </mat-option>
          </mat-select>
          <mat-error appErrorMessage></mat-error>
        </mat-form-field>
      </div>
    </div>

    <h3 class="mb-0">Datos de ubicación</h3>
    <hr />
    <div class="row mt-3 mb-5">
      <div class="col-4 d-flex flex-column">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Distrito</mat-label>
          <mat-select formControlName="district">
            <mat-option
              *ngFor="let district of districts"
              [value]="district['id']"
            >
              {{ district['key'] }}
            </mat-option>
          </mat-select>
          <mat-error appErrorMessage></mat-error>
        </mat-form-field>
      </div>

      <div class="col-4 d-flex flex-column">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Municipio</mat-label>
          <mat-select formControlName="municipality">
            <mat-option [value]="null" *ngIf="municipalities.length === 0"
              >Seleccione un distrito
            </mat-option>
            <mat-option
              *ngFor="let municipality of municipalities"
              [value]="municipality['id']"
            >
              {{ municipality['name'] }}
            </mat-option>
          </mat-select>
          <mat-error appErrorMessage></mat-error>
        </mat-form-field>
      </div>

      <div class="col-4 d-flex flex-column">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Sección</mat-label>
          <mat-select formControlName="section">
            <mat-option [value]="null" *ngIf="sections.length === 0"
              >Seleccione un municipio
            </mat-option>
            <mat-option
              *ngFor="let section of sections"
              [value]="section['id']"
            >
              {{ section['section'] }}
            </mat-option>
          </mat-select>
          <mat-error appErrorMessage></mat-error>
        </mat-form-field>
      </div>

      <div class="col-12 d-flex flex-column">
        <mat-form-field appearance="outline">
          <mat-label>Dirección</mat-label>
          <input formControlName="house_phone" matInput type="text" />
          <mat-error appErrorMessage></mat-error>
        </mat-form-field>
      </div>
    </div>

    <h3 class="mb-0">Mapa</h3>
    <hr />
    <div class="row mt-3 mb-5">
      <div class="col-12 d-flex flex-column">
        <google-map
          height="400px"
          width="100%"
          [center]="center"
          [zoom]="zoom"
          (mapClick)="moveMap($event)"
          (mapMousemove)="move($event)"
        >
        </google-map>
      </div>
    </div>
  </form>
</mat-card>
