.notifications {
  $sizeBox: 15px;
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.125);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 300ms;

  &:hover {
    background: rgba(255, 255, 255, 0.325);
    border-radius: 50%;
  }

  &__icon {
    font-size: 3.2rem;
    font-weight: 500;
    color: var(--primary-color);
  }

  &__number {
    width: 22px;
    height: 22px;
    position: absolute;
    top: 4px;
    right: 4px;
    text-align: center;
    line-height: 20px;
    font-weight: 900;
    font-size: 11px;
    background: var(--accent-color);
    color: var(--primary-color);
    border-radius: 50%;
    border: 2px solid rgba(255, 255, 255, 0.215);
    z-index: 2;

    &--entry {
      animation: numberSpanEntry 550ms ease-in, heartBeating 900ms infinite ease-in-out 1s;

      & + .notifications__icon {
        animation: shake-top 1200ms cubic-bezier(0.6, 0.04, 0.98, 0.335) infinite alternate;
      }
    }
  }

  &__container {
    position: absolute;
    width: 40rem;
    height: 45rem;
    opacity: 0;
    background: var(--color-primary-sidebar);
    bottom: 0;
    left: 50%;
    transform: translate(-50%, calc(100% + #{$sizeBox} / 3 + 10rem));
    cursor: auto;
    border-radius: 4px;
    box-shadow: 8px 8px 4px 4px rgba(0, 0, 0, 0.225);
    overflow: hidden;
    pointer-events: none;
    transition: 450ms;
  }

  &__scroll-container {
    height: calc(100% - 6rem);
    width: 100%;
    overflow: auto;
  }

  &::before {
    position: absolute;
    content: '';
    height: $sizeBox;
    width: $sizeBox;
    bottom: -$sizeBox;
    left: 50%;
    transform: translate(-50%, 5rem) rotate(45deg);
    background: var(--color-primary-sidebar);
    z-index: -1;
    opacity: 0;
    transition: 450ms;
  }

  &--visible {
    & .notifications__container,
    &::before {
      pointer-events: auto;
      opacity: 1;
    }

    & .notifications__container {
      transform: translate(-50%, calc(100% + #{$sizeBox} / 3));
    }

    &::before {
      transform: translate(-50%, 0) rotate(45deg);
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    list-style: none;
  }

  &__item {
    padding: 2.5rem 1rem 1rem;
    border-bottom: 1px solid #eee;
    display: flex;
    flex-direction: column;

    &--unread {
      background: #404040;
    }

    &-body {
      min-height: 4rem;
      display: flex;
      align-items: center;
    }

    &-icon {
      font-size: 3.75rem;
      margin-right: 2rem;
    }

    &-title {
      padding-left: 0.5rem;
      padding-bottom: 0.5rem;
      font-weight: 400;
      font-size: 1.75rem;
    }

    &-label {
      font-weight: 300;
      font-size: 1.6rem;
    }

    &-date {
      font-size: 1.3rem;
      color: #7e7d7d;
      font-weight: 450;
      align-self: end;
    }
  }

  &__action {
    height: 6rem;
    padding: 2rem;
    display: block;
    background: var(--accent-color);
    text-align: center;
    cursor: pointer;
    font-weight: 600;
    color: var(--primary-color);

    &:hover {
      color: var(--primary-darker-color);
      background: var(--accent-darker-color);
    }
  }
}

@keyframes numberSpanEntry {
  0% {
    transform: translateY(15px);
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2022-2-16 10:24:22
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info.
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation shake-top
 * ----------------------------------------
 */

@keyframes shake-top {
  0%,
  100% {
    transform: rotate(0deg);
    transform-origin: 50% 0;
  }
  10% {
    transform: rotate(2deg);
  }
  20%,
  40%,
  60% {
    transform: rotate(-4deg);
  }
  30%,
  50%,
  70% {
    transform: rotate(4deg);
  }
  80% {
    transform: rotate(-2deg);
  }
  90% {
    transform: rotate(2deg);
  }
}
