@import '~src/assets/styles/abstracts/variables';
@import '~src/assets/styles/abstracts/functions';
@import '~src/assets/styles/abstracts/mixins';

@import '~src/assets/styles/base/base';
@import '~src/assets/styles/base/typograpgy';
@import '~src/assets/styles/base/animation';

@import '~src/assets/styles/components/profile-img';
@import '~src/assets/styles/components/scrollbar';

:root {
  @each $color, $shades in $colors {
    @each $shade, $value in $shades {
      --color-#{$color}-#{$shade}: #{$value};
    }
  }

  @include font-scale;
}

//* {
//  outline: 1px solid red;
//}
.mat-typography {
  font: 400 1.6rem / 1.6 Roboto;
}

a {
  text-decoration: none;
  outline: 0;
}

//img {
//  height: 10rem;
//  width: 10rem;
//}

ul {
  padding-inline-start: 0;
}

.w-100 {
  width: 100%;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: var(--color-primary-sidebar);
  background-clip: border-box;
  border: 0 solid #f6f6f6;
  border-radius: 0.25rem;
}

.card-body {
  flex: 1 1 auto;
  padding: 1.25rem 1.25rem;
}

.overflow-hidden {
  overflow: hidden;
}

.text-center {
  text-align: center;
}

.position-relative {
  position: relative;
}

.text-white {
  color: #ffffff;
}

.text-white-50 {
  color: rgba(255, 255, 255, 0.5);
}

.text-muted {
  color: #8687a7;
}

.xng-breadcrumb-list {
  color: white;
}

.xng-breadcrumb-trail {
  color: var(--color-secondary-200) !important;
}

.input--form {
  width: 66.66%;
  margin-bottom: 1rem;

  &:first-child {
    margin-top: 2.5rem;
  }
}

.action-container {
  width: 66.66%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  column-gap: 1.5rem;
}

.btn {
  flex: 1 0 30rem;
  min-height: 5rem;
  border-radius: 8px;
  outline: none;
  border: none;
  font-size: var(--text-400);
  font-weight: 600;
  padding: 1.25rem 1.75rem;
  cursor: pointer;

  &--primary {
    background: var(--primary-color);
    color: white;
  }

  &--secondary {
    background: none;
    color: var(--primary-color);
    border: 2px solid var(--primary-color);
  }

  &:hover {
    filter: brightness(115%);
    transform: scale(1.02);
  }
}

.loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

td.mat-cell:first-of-type {
  padding-right: 24px;
}

.mat-expansion-panel {
  background: #1d455e;
  color: white;
}

.checkbox {
  margin: 0.25em 0;
  padding-bottom: 1.34375em;
}
